.Books {
  margin-top: 50px;
  text-align: center;
  .book-area {
    border: 1px solid #000;
    margin: 0 auto;
    width: 90%;
    .name {
      margin-left: 5%;
      display: inline-block;
      width: 75%
    }
    .input {
      text-align: center;
      display: inline-block;
      margin-left: 5%;
      width: 10%;
      margin-right: 5%;
    }
  }
}
